.idea/
.vscode/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging artifacts
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
.venv/
env/